# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-default-key-change-this-in-production
FRONTEND_URL=http://localhost:5174

# Database Configuration (Railway Cloud DB)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=railway
DB_USER=postgres
DB_PASSWORD=qFzjpZHipslPYrdKARseUmjViIsUBEsf
DB_HOST=thomas.proxy.rlwy.net
DB_PORT=40659

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dwerzrgya
CLOUDINARY_API_KEY=581815563668339
CLOUDINARY_API_SECRET=ul_5HAkewevM14trmtf7onSxZtU

# Stripe (Pasarela de pagos)
STRIPE_PUBLIC_KEY=pk_test_51SSt66Rw4EZoShntEKwsTAwSOmRG1udWmiW8qRpQhk9QvvpveFnbQzdKloapJi6dTm2h86aTwRJxSLY9FJV8LoXM00ScNWEW1h
STRIPE_SECRET_KEY=sk_test_51SSt66Rw4EZoShntJ5UR7Mi8Dw2XkmIU8dS7gOnbmv5sxsffcPjKcxFrNBXGNaD7ahmpFm63TiyjUZXLMIETmXEL00lk1MZudg

# Groq (IA Generativa)
GROQ_API_KEY=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
